# virtualenv
.venv/

# PyCharm
.idea/

# VS Code
.vscode/

# configuration
config.ini

# logs
*.log

# Sphynx builds
_build/

# build and distribution files
*.egg-info/
dist/
build/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class