date;text;location
1899-11-29 12:00 Europe/Madrid;El ${date}, avui fa ${years_ago} anys, Joan Gamper juntament amb els suïssos Otto Kunzle i Walter Wild, els anglesos John i William Parsons, l'alemany Otto Maier i els catalans Lluís d'Ossó, Bartomeu Terrades, l'aragonès Enric Ducay, Pere Cabot, Carles Pujol i Josep Llobet, es reuneixen al Gimnàs Solé per formar una associació que portarà el nom i l'escut de la ciutat: el Futbol Club Barcelona.;(41.38291533569831, 2.169884207359594)
1957-09-24 12:00 Europe/Madrid;El ${date}, avui fa ${years_ago} anys, s'inaugura el Camp Nou amb una missa solmne, una desfilada de diversos clubs de Catalunya i un partit entre el F.C. Barcelona i una selecció de jugadors de Varsòvia.;(41.3808, 2.1228)
1999-11-29 12:00 Europe/Madrid;El F.C. Barcelona celebra el seu centenari.;
1950-02-17 17:30:00 Europe/Madrid;El ${date}, avui fa ${years_ago} anys, no va passar res.;(41.38291533569831, 2.169884207359594)
